// To change the theme uncomment the below import and which ever carbon theme you want to use
// @import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
// $carbon--theme: $carbon--theme--g100;
// $carbon--theme: $carbon--theme--g90;
// $carbon--theme: $carbon--theme--g10;

@import "~carbon-components/scss/globals/scss/styles";

@import "./assets/scss/carbon-override.scss";

.bx--content {
padding: 0px !important;
overflow: hidden;

}

.pt2{
    padding-top: 2rem;
  
}
.pb2{
    padding-bottom: 2rem;
}
.pl2{
    padding-left: 2rem;
}
.pr2{
    padding-right: 2rem;
}

.pt1{
    padding-top: 1rem;
  
}
.pb1{
    padding-bottom: 1rem;
}
.pl1{
    padding-left: 1rem;
}
.pr1{
    padding-right: 1rem;
}

.hotel-background{
    background-image: url("./assets/img/110547.jpg");
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
}

.text-right{
    text-align:right;
}